Dear Administrator,

The paper: "$TITULO_ARTICULO" has been fully evaluated for the event: "$NOMBRE_EVENTO".

Please go the 'Recibed Papers' on the event options menu to approve or reject the paper.

Regards