Estimad$GENERO $NOMBRE $APELLIDO,

Seu artigo: "$TITULO_ARTICULO" foram recebidos com êxito em nosso evento "$NOMBRE_EVENTO".

Quaisquer preocupações que têm com a gente no nosso e-mail $EMAIL_EVENTO.

Atenciosamente,
Event Administrator.