Dear $NOMBRE $APELLIDO,

Your paper: "$TITULO_ARTICULO" has been successfully received at our event "$NOMBRE_EVENTO".

Any concerns you have with us contact us at our e-mail $EMAIL_EVENTO.

Regards,
Event Administrator