Dear $NOMBRE $APELLIDO,

Thank you for participating as an evaluator of articles in our event: "$NOMBRE_EVENTO".

You has been assigned to review the article: "$TITULO_ARTICULO".

Lo invitamos a revisar la información en nuestro Sistema Web.

Any concerns you have with us contact us at our e-mail $EMAIL_EVENTO.

Regards,
Event Administrator