Estimad$GENERO $NOMBRE $APELLIDO,

Obrigado por participar como avaliador dos artigos em nosso evento: "$NOMBRE_EVENTO".

Tem sido atribuído a revisão do artigo: "$TITULO_ARTICULO".

Convidamo-lo a rever a informação em nosso Web.

Quaisquer preocupações que têm com a gente no nosso e-mail $EMAIL_EVENTO.

Atenciosamente,
Administrador del Evento.