Dear $NOMBRE $APELLIDO,

Your paper: "$TITULO_ARTICULO" has been approved for our event: "$NOMBRE_EVENTO".

We appreciate your participation, please check the reviewer's comments on our website and submit the respective corrections until $FECHA_MAX_CORRECCION.
To review your paper's evaluation, go to Call's option event, on "upload article".

Any concerns you have with us contact us at our e-mail $EMAIL_EVENTO.

Regards,
Evaluation Committee