Dear $NOMBRE $APELLIDO,

Your paper: "$TITULO_ARTICULO" has been pre-approved for our event: "$NOMBRE_EVENTO".

We appreciate your participation, please forward your entire article until $FECHA_MAX_RESUMEN.

Any concerns you have with us contact us at our e-mail $EMAIL_EVENTO.

Regards,
Evaluation Committee