Estimado Administrador,

El artigo: "$TITULO_ARTICULO" foi completamente avaliado para o evento: "$NOMBRE_EVENTO".

Por favor, vá para "Itens recebidos" no menu de opções do evento para aprovar ou rejeitar o artigo.

saudações