Dear $NOMBRE $APELLIDO,

Your paper: "$TITULO_ARTICULO" has not been approved for our event: "$NOMBRE_EVENTO".

We appreciate your participation and we look forward to your research for future activities. To review your paper's evaluation, go to Call's option event, on "upload article".

Any concerns you have with us contact us at our e-mail $EMAIL_EVENTO.

Regards,
Comité de Evaluación.