Estimado Administrador,

El artículo: "$TITULO_ARTICULO" ha sido evaluado completamente para el evento: "$NOMBRE_EVENTO".

Por favor ir a 'Artículos Recibidos' en el menú de opciones del evento para aprobar o rechazar el artículo.

Saludos