Estimad$GENERO $NOMBRE $APELLIDO,

Seu artigo: "$TITULO_ARTICULO" foi aprovado para o nosso evento: "$NOMBRE_EVENTO".

Agradecemos a sua participação, leia os comentários do revisor em nosso site e apresentar a regularidade de seu trabalho para os $FECHA_MAX_CORRECCION.
Para rever a avaliação, em contato com o Call Option evento, artigo "upload".

Quaisquer preocupações que têm com a gente no nosso e-mail $EMAIL_EVENTO.

Atenciosamente,
Comissão de Avaliação.