Estimad$GENERO $NOMBRE $APELLIDO,

Seu artigo: "$TITULO_ARTICULO" não foi aprovado para o nosso evento: "$NOMBRE_EVENTO".

Agradecemos a sua participação e aguardamos a sua pesquisa para atividades futuras. Para rever a avaliação, em contato com o Call Option evento, artigo "upload".

Quaisquer preocupações que têm com a gente no nosso e-mail $EMAIL_EVENTO.

Atenciosamente,
Comissão de Avaliação.