Estimad$GENERO $NOMBRE $APELLIDO,

Foi criado para o evento de chamada: "$NOMBRE_EVENTO".

Congratulamo-nos com a sua participação em nosso evento com o artigo.

Atenciosamente,
Administrador del Evento.