Estimad$GENERO $NOMBRE $APELLIDO,

Se ha creado la convocatoria para el evento: "$NOMBRE_EVENTO".

Lo invitamos a participar en nuestro evento con su artículo 

Atentamente,
Administrador del Evento.