Estimad$GENERO $NOMBRE $APELLIDO

Sua inscrição para o evento/subevent "$NOMBRE_EVENTO" foi aprovado.

Por favor, re-entrar na secção "Registo" do evento para selecionar o método de pagamento
e continuar com a matrícula.

Atenciosamente,
$REMITENTE