Dear Administrator

User $NOMBRE $APELLIDO to the related payment made of the event/subevent "$NOMBRE_EVENTO"

Please enter the section "Registration Pending" in the options menu of the event to pass
payment and successful registration.

Greetings