Caro Administrador

O usuário $NOMBRE $APELLIDO relacionado ao pagamento feito de evento/subevent "$NOMBRE_EVENTO"

Por favor entrar na seção "Inscrição pendente" no menu de opções do evento para aprovar o pagamento e registrar com êxito.

Saudações