Dear Administrador

The user $NOMBRE $APELLIDO has request a register to event/subevent "$NOMBRE_EVENTO"

Please re-enter the section 'Registration' of the event to aprove/reject the registration.

Regards