Estimad$GENERO $NOMBRE $APELLIDO

Su solicitud de registro para el evento/subevento "NOMBRE_EVENTO" ha sido aprobado.

Por favor ingrese nuevamente a la sección de 'Registro' del evento para seleccionar la forma de pago
y poder continuar con el registro.

Atentamente,
$REMITENTE