Estimado Administrador

O usuário $NOMBRE $APELLIDO para fazer um pedido de inscrição para o evento/subevent "$EVENTO_NOMBRE"

Por favor, indique registos pendentes na secção 'no menu de opções do evento para aprovar ou rejeitar
registo.

Saludos