Dear $NOMBRE $APELLIDO

Your registration request for the event/subevent "$NOMBRE_EVENTO" has been approved.

Please re-enter the section 'Registration' of the event to select the payment method and continue with registration.

Regards,
Event Administrator