Estimado Administrador

El usuario $NOMBRE $APELLIDO a realizado el correspondiente pago del evento/subevento "$NOMBRE_EVENTO"

Por favor ingrese a la sección de 'Registros Pendientes' en el menú de opciones del evento para aprobar
el pago y registrarlo exitosamente.

Saludos