Dear $NOMBRE $APELLIDO,

You have been successfully registered and now you can access to all services offered exclusively to subscribers. If you have questions or suggestions, please do not hesitate to write to $EMAIL_ADMIN

  your username is: $CORREO 
  
Regards,

$REMITENTE