Estimad$GENERO $NOMBRE $APELLIDO,

Você foi registrado com êxito, e agora você pode ter acesso a todos os serviços oferecidos exclusivamente para assinantes. Se você tiver dúvidas ou sugestões, não hesite em escrever para $EMAIL_ADMIN

  seu nome de usuário é: $CORREO 
  
Atentamente,

$REMITENTE