<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Web S.A.E.</display-name>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>idiomas</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>es</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>es</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>en</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>en</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>pt</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>pt</param-value>
    </context-param>
    <context-param>
        <param-name>dojo.js</param-name>
        <param-value>http://localhost:8080/websae.js/dojo/dojo.js</param-value>
    </context-param>
    <context-param>
        <param-name>dojo.tema</param-name>
        <param-value>http://localhost:8080/websae.js/dijit/themes/tundra/tundra.css</param-value>
    </context-param>
    <context-param>
        <param-name>dojo.css</param-name>
        <param-value>http://localhost:8080/websae.js/dojo/resources/dojo.css</param-value>
    </context-param>
    <context-param>
        <param-name>yui.js</param-name>
        <param-value>http://localhost:8080/websae.js/yui/</param-value>
    </context-param>
    <context-param>
        <param-name>email.admin</param-name>
        <param-value>websae.espol@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>admin.nombre</param-name>
        <param-value>Sistema Web de Administración de Evento</param-value>
    </context-param>
    <context-param>
        <param-name>email.host</param-name>
        <param-value>ceibo.fiec.espol.edu.ec</param-value>
    </context-param>
    <context-param>
        <param-name>email.remitente</param-name>
        <param-value>Administrador de Web S.A.E.</param-value>
    </context-param>
    <filter>
        <filter-name>F_lenguaje</filter-name>
        <filter-class>websae.mac.funciones_entrada.F_lenguaje</filter-class>
    </filter>
    <filter>
        <filter-name>usuario</filter-name>
        <filter-class>websae.seguridad.usuario</filter-class>
    </filter>
    <filter>
        <filter-name>F_asignar_id_evento</filter-name>
        <filter-class>websae.mae.filtros.F_asignar_id_evento</filter-class>
    </filter>
    <filter>
        <filter-name>usuario_administrador</filter-name>
        <filter-class>websae.seguridad.usuario_administrador</filter-class>
    </filter>
    <filter>
        <filter-name>usuario_administrador_general</filter-name>
        <filter-class>websae.seguridad.usuario_administrador_general</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>usuario_administrador_general</filter-name>
        <url-pattern>/administracion/usuario/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>usuario_administrador</filter-name>
        <url-pattern>/administracion/empresa/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>F_asignar_id_evento</filter-name>
        <url-pattern>/administracion/evento/opciones/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>usuario</filter-name>
        <url-pattern>/usuario/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>F_lenguaje</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>F_asignar_id_evento</filter-name>
        <url-pattern>/evento/opciones/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>usuario_administrador</filter-name>
        <url-pattern>/administracion/evento/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>usuario_administrador</filter-name>
        <url-pattern>/administracion/grupo_investigacion/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>usuario_administrador</filter-name>
        <url-pattern>/administracion/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>usuario_administrador_general</filter-name>
        <url-pattern>/administracion/usuario/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>F_mostrar_datos</servlet-name>
        <servlet-class>websae.msu.funciones_salida.F_mostrar_datos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_su_administrar_objetos</servlet-name>
        <servlet-class>websae.msu.funciones_entrada.F_su_administrar_objetos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_autentificar_usuario</servlet-name>
        <servlet-class>websae.mac.funciones_entrada.F_autentificar_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_cerrar_sesion</servlet-name>
        <servlet-class>websae.mac.funciones_entrada.F_cerrar_sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_recordar_clave</servlet-name>
        <servlet-class>websae.msu.funciones_entrada.F_recordar_clave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_modificar_clave</servlet-name>
        <servlet-class>websae.msu.funciones_entrada.F_modificar_clave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_mostrar_opcion</servlet-name>
        <servlet-class>websae.mac.funciones_entrada.F_mostrar_opcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_mostrar_usuario</servlet-name>
        <servlet-class>websae.mac.funciones_salida.F_mostrar_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_mostrar_perfil</servlet-name>
        <servlet-class>websae.mac.funciones_salida.F_mostrar_perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_asignar_usuario_perfil</servlet-name>
        <servlet-class>websae.mac.funciones_entrada.F_asignar_usuario_perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_ae_administrar_objetos</servlet-name>
        <servlet-class>websae.mae.funciones_entrada.F_ae_administrar_objetos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_ae_mostrar_datos</servlet-name>
        <servlet-class>websae.mae.funciones_salida.F_ae_mostrar_datos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_adjuntar_archivo</servlet-name>
        <servlet-class>websae.funciones_entrada.F_adjuntar_archivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_gi_mostrar_datos</servlet-name>
        <servlet-class>websae.mgi.funciones_salida.F_gi_mostrar_datos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_gi_administrar_objetos</servlet-name>
        <servlet-class>websae.mgi.funciones_entrada.F_gi_administrar_objetos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_ce_administrar_objetos</servlet-name>
        <servlet-class>websae.mce.funciones_entrada.F_ce_administrar_objetos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_ce_mostrar_datos</servlet-name>
        <servlet-class>websae.mce.funciones_salida.F_ce_mostrar_datos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_ce_administrar_detalles</servlet-name>
        <servlet-class>websae.mce.funciones_entrada.F_ce_administrar_detalles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>F_mostrar_datos</servlet-name>
        <url-pattern>/F_mostrar_datos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_su_administrar_objetos</servlet-name>
        <url-pattern>/F_su_administrar_objetos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_autentificar_usuario</servlet-name>
        <url-pattern>/F_autentificar_usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_cerrar_sesion</servlet-name>
        <url-pattern>/F_cerrar_sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_recordar_clave</servlet-name>
        <url-pattern>/recordar_clave/F_recordar_clave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_modificar_clave</servlet-name>
        <url-pattern>/usuario/modificar_clave/F_modificar_clave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_mostrar_opcion</servlet-name>
        <url-pattern>/F_mostrar_opcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_mostrar_perfil</servlet-name>
        <url-pattern>/administracion/F_mostrar_perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_asignar_usuario_perfil</servlet-name>
        <url-pattern>/administracion/usuario/asignar_rol/F_asignar_usuario_perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_ae_administrar_objetos</servlet-name>
        <url-pattern>/administracion/F_ae_administrar_objetos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_ae_mostrar_datos</servlet-name>
        <url-pattern>/administracion/F_ae_mostrar_datos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_adjuntar_archivo</servlet-name>
        <url-pattern>/F_adjuntar_archivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_gi_mostrar_datos</servlet-name>
        <url-pattern>/F_gi_mostrar_datos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_gi_administrar_objetos</servlet-name>
        <url-pattern>/administracion/F_gi_administrar_objetos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_ae_mostrar_datos</servlet-name>
        <url-pattern>/F_ae_mostrar_datos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_ce_administrar_objetos</servlet-name>
        <url-pattern>/F_ce_administrar_objetos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_ce_mostrar_datos</servlet-name>
        <url-pattern>/F_ce_mostrar_datos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_ce_mostrar_datos</servlet-name>
        <url-pattern>/administracion/F_ce_mostrar_datos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_mostrar_usuario</servlet-name>
        <url-pattern>/F_mostrar_usuario</url-pattern>
        <url-pattern>/administracion/usuario/F_mostrar_usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_ce_administrar_detalles</servlet-name>
        <url-pattern>/F_ce_administrar_detalles</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
